@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <span><img src="~/imagens/icone carrinho.png" width="30px" /></span>
    <span style="color:white">
        @Model.CarrinhoCompra.CarrinhoCompraItems.Count
    </span>
}
