@model ProdutoListViewModel

<div>
    <h2>Categoria Atual</h2>
</div>
<br />
<div class="container">
    <div class="row">

        @foreach (var produto in Model.Produtos)
        {
            <partial name="_ProdutosResumo" for="@produto"/>
        }
    </div>
</div>