@model IEnumerable<KitsGade.Models.Produto>

<div>
    <h2>Todos Produtos</h2>
</div>

@foreach (var produto in Model)
{
    <div>
        <h4>@produto.Nome</h4>
        <p><img src="@produto.ImagemUrl" style="width: 150px"></p>
        <h6>Preço : @produto.Preco.ToString("c")</h6>
    </div>
}
